<br> 
<div class='card w-50 mx-auto text-center'>
  <div class='card-body' >
      <h1 class='card-title'>Edit User</h1>
    <style type="text/css">
    body { background: black; } 
  </style>
<%= render 'form', user: @user %>
  </div>
</div>
<center>
<%= link_to 'Back', user_path(@user) %>
</center>