<div class='card w-50 mx-auto text-center'>
  <div class='card-body' >
      <h1 class='card-title'>New Admin Registration</h1>
    <style type="text/css">
    body { background: black; } 
  </style>
<%= render 'form', admin: @admin %>
  </div>
</div>

<%= link_to 'Back', :back %>
