<br> 
<div class='card w-75 mx-auto text-center'>
  <div class='card-body' >
      <h1 class='card-title'>Edit Section</h1>
    <style type="text/css">
    body { background: black; } 
  </style>
<%= render 'form', section: @section %>
  </div>
</div>