<br> 
<div class='card w-75 mx-auto text-center'>
  <div class='card-body' >
      <h1 class='card-title'>Edit Event</h1>
    <style type="text/css">
    body { background: black; } 
  </style>
<%= render 'form', event: @event %>
  </div>
</div>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>

