<br> 
<div class='card w-25 mx-auto text-center'>
  <div class='card-body' >
      <h1 class='card-title'>RSVP</h1>
    <style type="text/css">
    body { background: black; } 
  </style>
<%= render 'form', rsvp: @rsvp %>
  </div>
</div>