<div class='card w-75 mx-auto text-center'>
  <div class='card-body' >
      <h1 class='card-title'>New Link</h1>
    <style type="text/css">
    body { background: black; } 
  </style>
<%= render 'form', link: @link %>
  </div>
</div>

<%= link_to 'Back', links_path %>

