<p id="notice"><%= notice %></p>

<p>
  <strong>Last login:</strong>
  <%= @admin_security.last_login %>
</p>

<%= link_to 'Edit', edit_admin_security_path(@admin_security) %> |
<%= link_to 'Back', admin_securities_path %>
