/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*
Color scheme
black #000000
green #129d53
red #b21b29
yellow #fedc5f
 */


.top_container {
    width: 1000px;
}

.bgsa_logo {
    width: 250px;
    float: left;
    padding: 10px;
}

header {
    background: #f4f4f4
}

.header {
    height: 100px;
}

header h2 {
    padding: 15px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar {
    background-color: #129d53;
    overflow: hidden;
    height: 55px;
}

.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}


 .simple-calendar {
   
  }
  .day {}
  
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}


  