/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
Color scheme

black #000000
green #129d53
red #b21b29
yellow #fedc5f
*/

.btn.btn-rounded { border-radius: 50px }

.btn.btn-inverse {
    font-size: large;
    color:black;
}

.bg-primary {
    background-color: #129d53;
}

.bgsa_logo {
    width: 250px;
    float: left;
    padding: 10px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
  
.navbar .navbar-collapse {
    text-align: center;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

 .simple-calendar {
   width: 100%;
   height: 75%;
   border-collapse: collapse;
   border-spacing: 0;
   border: 1px solid black;
   font-size: 20px;
   font-style: Arial sans-serif;
   color: white;
   background-color: black;
  }
  .day {
    color: white;
  }
/* 
  can't figure out the links sizing so I will work on it later
  .next-Test{
    font-size: 100px;
    color: green;
  } */
  
  
  
  .Mon {
    font-size:20px;
    color: white;
    border: 10px solid black;
  }
  .Tue {
    font-size:20px;
    color: white;
    border: 10px solid black;
  }
  .Wed {
    font-size:20px;
    color: white;
    border: 10px solid black;
  }
  .Thu {
    font-size:20px;
    color: white;
    border: 10px solid black;
  }
  .Fri {
    font-size:20px;
    color: white;
    border: 10px solid black;
  }
  .Sat {
    font-size:20px;
    color: black;
    border: 10px solid black;
  }
  .Sun {
    font-size:20px;
    color: black;
    border: 10px solid black;
  }
  

  .wday-0 {
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}


  .start-date {

  }


  .prev-month {}
  .next-month { }
  .current-month {}


  .calendar-title{
    font-size: 50px;
    margin-left: 30px;
    margin-right: 30px;
    font-style: Arial sans-serif;
  }


  







































  