// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body { // background
    background-color: #000000; 
} 

.link_header {
    color: #ffffff;
    padding:10px;
}

.link_sections {
    padding:10px;
    font-size: 50px;
    color: #129d53;
}

.link_title:hover {
    font-size: 30px;
    color: #fedc5f;
}

.link_link a {
    text-decoration: none;
    font-size: 30px;
    color: #fedc5f;
}
