// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body { 
    background-color: black; 
} 

.link_header {
    color: #129d53;
    padding:10px;
}

.link_sections {
    padding:10px;
    font-size: 30px;
    color: rgb(68, 0, 255);
}

.link_title {
    color: rgb(255, 0, 43);
}

.link_link a {
    text-decoration: none;
    color: rgb(255, 0, 234);
}
