
<br> 
<div class='card w-75 mx-auto text-center'>
  <div class='card-body' >
      <h1 class='card-title'>Edit Attendance</h1>
    <style type="text/css">
    body { background: black; } 
  </style>
  <%= render 'form', attendance: @attendance %>
  </div>
</div>


