<br> 
<<<<<<< HEAD
<div class='card w-75 mx-auto text-center'>
=======
<div class='card w-50 mx-auto text-center'>
>>>>>>> 9a7ffa8a5be340b350fbe4d4f643a3b859a58a1a
  <div class='card-body' >
    <h1 class='card-title'>Check In</h1>
    
    <style type="text/css">
        body { background: black; } 
    </style>
    
    <%= render 'form', attendance: @attendance %>
  </div>
</div>